@import url("https://fonts.googleapis.com/css?familly=Montserrat:400,700,600,700italic|Jost:700|Roboto:700,700italic");

/* Variable + background */
:root {
  background-image: url("./img/FondSite.jpg");
  background-attachment: fixed;
  background-size: cover;

  --black-2: rgba(0, 0, 0, 0.502);
  --black: rgba(0, 0, 0, 1);
  --white: rgba(255, 255, 255, 1);

  --font-size-m: 14px;
  --font-size-l: 16px;
  --font-size-xl: 18px;
  --font-size-xxl: 20px;
  --font-size-xxxl: 24px;
  --font-size-xxxxl: 32px;

  --font-family-brandon_text-bold: "Brandon Text-Bold";
  --font-family-brandon_text-regular: "Brandon Text-Regular";
  --font-family-jost: "Jost";
  --font-family-montserrat: "Montserrat";
  --font-family-roboto: "Roboto";
}

/* Classes */

.montserrat-semi-bold-white-16px {
  color: var(--white);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-l);
  font-weight: 600;
  font-style: normal;
}

.brandontext-bold-white-16px {
  color: var(--white);
  font-family: var(--font-family-brandon_text-bold);
  font-size: var(--font-size-l);
  font-weight: 700;
  font-style: normal;
}

.montserrat-bold-black-32px {
  color: var(--black);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-xxxxl);
  font-weight: 700;
  font-style: italic;
}

.montserrat-bold-black-20px {
  color: var(--black);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-xxl);
  font-weight: 700;
  font-style: normal;
}

.jost-bold-white-32px {
  color: var(--white);
  font-family: var(--font-family-jost);
  font-size: var(--font-size-xxxxl);
  font-weight: 700;
  font-style: normal;
}

.montserrat-normal-black-18px {
  color: var(--black);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-xl);
  font-weight: 400;
  font-style: normal;
}

.montserrat-normal-black-14px {
  color: var(--black);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-m);
  font-weight: 400;
  font-style: normal;
}

.montserrat-semi-bold-black-14px {
  color: var(--black);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-m);
  font-weight: 600;
  font-style: normal;
}

.brandontext-regular-normal-black-24px {
  color: var(--black);
  font-family: var(--font-family-brandon_text-regular);
  font-size: var(--font-size-xxxl);
  font-weight: 400;
  font-style: normal;
}

.h2-article {
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-xxxl);
  letter-spacing: 0;
  font-weight: 700;
  font-style: normal;
}
